<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JHook IDE</title>
    <script src="vue.global.js"></script>
    <style>
        body { background-color: black; color: white; }
    </style>
</head>
<body>
    <div id="app">
        <div id="jvm">
            <div v-for="(jvm, index) in jvmList">
                <div>{{jvm.id}}</div>
                <div>{{jvm.displayName}}</div>
                <br/>
            </div>
        </div>
        <br/>
        <div>
            pid: <input v-model="pid"/>
            <button @click="attach()">附加</button>
            <div>{{attachResult}}</div>
        </div>
        <div>
            <button @click="getClass()">获取class信息</button>
            <div>{{classInfo}}</div>
        </div>
    </div>
</body>
<script>
    const base = 'http://127.0.0.1:8080'

    fetch(base + '/test')
                    .then(data => data.json())
                    .then(json => console.log(json))

    const app = Vue.createApp({
        data() {
            return {
                jvmList: [],
                pid: '',
                classInfo: '',
                attachResult: ''
            }
        },
        mounted() {
            var that = this
            fetch(base + '/listJvm')
                .then(data => data.json())
                .then(json => that.jvmList = json)
        },
        methods: {
            attach() {
                var that = this
                fetch(base + '/attach/' + this.pid)
                    .then(data => data.json())
                    .then(json => that.attachResult = json)
            },
            getClass() {
                var that = this
                fetch(base + '/class/org.hai.jhook.AppDemo')
                    .then(data => data.json())
                    .then(json => that.classInfo = json)
            }
        }
    })
    app.mount('#app')
</script>
</html>